@import "../../node_modules/bootstrap/scss/bootstrap";
li {
  list-style-type: none;
}
.total {
  font-size: 20px;
  margin-left: 35px;
}
.cart {
  border: 1px solid black;
  border-radius: 24%;
  margin: auto;
}
